@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'), url('../fonts/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../Assets/header.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header_content {
  display: flex;
  justify-content: center;
  width: 1110px;
  height: 740px;
}
.header_searchBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 270px;
  width: 600px;
  height: 190px;
}
.header_navigation {
  display: flex;
  justify-content: center;
  background-color: #5474fd;
  width: 100vw;
  height: 80px;
}
.header_navigationContent {
  display: flex;
  width: 1110px;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_buttons {
  font-family: "Aleo";
  width: 950px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_button {
  font-family: "Aleo";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 45px;
}
.header_button:hover {
  opacity: 0.6;
}
.header_search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  width: inherit;
  height: 60px;
}
.header_input {
  font-family: "Aleo";
  color: #a7a7a7;
  text-align: center;
  letter-spacing: 2px;
  height: 45px;
  background-color: transparent;
  border: none;
  outline-width: 0px;
  font-size: 14px;
  width: 430px;
}
.header_searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-width: 0px;
  font-family: "Aleo";
  font-size: 15px;
  color: #e8ecff;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  margin-right: 1px;
  background-color: #5474fd;
  width: 146px;
  height: 55px;
}
.header_searchIcon {
  margin-left: 10px;
}
.header_subtitle {
  color: #ffffff;
  font-family: "Aleo";
  letter-spacing: 10px;
  font-weight: lighter;
  font-size: 17px;
  width: inherit;
  text-align: center;
  margin-bottom: 60px;
}
.header_title {
  font-family: "Josefin Sans";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  color: #ffffff;
  width: inherit;
  text-align: center;
}
.header_scroll {
  flex-direction: column;
  position: absolute;
  bottom: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aleo";
  color: #ffffff;
}
.header_scroll:hover {
  opacity: 0.6;
}
.header_arrow {
  margin-top: 10px;
}
.header_arrow::after {
  border: medium solid transparent;
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #ffffff rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 10px;
  margin-left: -10px;
}
.chooseUs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../Assets/palace.jpg);
  background-size: cover;
  background-position: center center;
}
.chooseUs_content {
  display: flex;
  justify-content: center;
  width: 1110px;
  align-items: center;
  min-height: 625px;
}
.chooseUs_infoBox {
  display: flex;
  height: 450px;
  width: inherit;
}
.chooseUs_discription {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: inherit;
  color: #ffffff;
}
.chooseUs_title {
  margin-top: 80px;
  font-size: 27px;
  font-family: "Aleo";
  color: #ffffff;
}
.chooseUs_infoText {
  font-family: "Aleo";
  letter-spacing: 2px;
  margin-top: 70px;
}
.chooseUs_explore {
  cursor: pointer;
  outline-width: 0px;
  font-family: "Aleo";
  margin-top: 50px;
  width: 235px;
  height: 60px;
  background-color: #496bfe;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  border: none;
}
.chooseUs_img {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: inherit;
}
.chooseUs_riverImg {
  margin-right: 125px;
  margin-bottom: 5px;
}
.howItWorks {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #333333;
}
.howItWorks_content {
  display: flex;
  justify-content: center;
  width: 1110px;
  align-items: center;
  min-height: 340px;
}
.howItWorks_infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
  height: 180px;
}
.howItWorks_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  font-size: 28px;
  font-family: "Aleo";
  color: #ffffff;
}
.howItWorks_img {
  margin-bottom: 15px;
}
.howItWorks_img {
  margin-bottom: 15px;
}
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../Assets/house.png);
  background-size: cover;
  background-position: center center;
}
.section_content {
  display: flex;
  justify-content: flex-start;
  width: 1110px;
  min-height: 625px;
}
.section_discription {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 370px;
  margin-top: 170px;
  color: #ffffff;
  font-family: "Aleo";
  background-color: rgba(40, 35, 35, 0.8);
}
.section_discription:hover {
  background-color: #282323;
}
.section_title {
  margin-top: 40px;
  font-size: 27px;
  width: 90%;
  margin-left: 33px;
  color: #ffffff;
}
.section_infoText {
  width: 470px;
  margin-left: 33px;
  margin-top: 30px;
  letter-spacing: 2px;
}
.section_BookNow {
  cursor: pointer;
  margin-left: 33px;
  margin-top: 20px;
  width: 235px;
  height: 60px;
  background-color: #496bfe;
  font-family: "Aleo";
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  border: none;
  outline-width: 0px;
}
.section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../Assets/ocean.png);
  background-size: cover;
  background-position: center center;
}
.section_content2 {
  display: flex;
  justify-content: flex-end;
  width: 1110px;
  min-height: 625px;
}
.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../Assets/man.jpg);
  background-size: cover;
  background-position: center center;
}
.testimonial_content {
  display: flex;
  justify-content: center;
  width: 1110px;
  flex-direction: column;
  align-items: center;
  min-height: 730px;
}
.testimonial_title {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 100px;
}
.testimonial_InfoBox {
  display: flex;
  height: 290px;
  width: inherit;
  background-color: #333333;
}
.testimonial_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}
.testimonial_discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-left: 50px;
  background-color: #333333;
}
.testimonial_ownerQuote {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 50px;
}
.testimonial_Quote {
  font-family: "Aleo";
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 16px;
}
.testimonial_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: inherit;
  margin-top: 30px;
  height: 60px;
}
.testimonial_button {
  cursor: pointer;
  outline-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  width: 80px;
}
.testimonial_back {
  margin-right: 5px;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #333333;
}
.footer_content {
  display: flex;
  justify-content: center;
  width: 1110px;
  flex-direction: column;
  align-items: center;
  min-height: 270px;
}
.footer_title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Aleo";
  color: #ffffff;
  width: inherit;
  text-align: center;
}
.footer_subtitle {
  font-family: "Josefin Sans";
  color: #ffffff;
  font-family: "Aleo";
  font-size: 14px;
  width: inherit;
  text-align: center;
  margin-top: 10px;
}
.footer_subtitle {
  color: #ffffff;
  font-family: "Aleo";
  letter-spacing: 5px;
  font-size: 14px;
  width: inherit;
  text-align: center;
  margin-top: 10px;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 17px;
  margin-top: 30px;
}
