
@mainColorText: white;
@mainBackGroundColor:#333333;
@mainFontJosefinSans: "Josefin Sans";
@mainFontAleo: "Aleo";
@mainContentWidth: 1110px;


@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('../fonts/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.centerBox-mixin() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-mixin() {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.content-mixin() { 
    display: flex;
    justify-content: center;
    //border:  1px solid red;
    width: @mainContentWidth;
}

body {
    margin: 0;
}


//// ---> Header <---
.header {
    .section-mixin();
    background-image: url(../Assets/header.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    &_content {
        .content-mixin();
        height: 740px;
    }
    &_searchBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 270px;
        width: 600px;
        height: 190px;
    }
    &_navigation {
        display: flex;
        justify-content: center;
        background-color: #5474fd;
        width: 100vw;
        height: 80px;
    }
    &_navigationContent {
        display: flex;
        width: @mainContentWidth;
    }
    &_logo {
        .centerBox-mixin();
    }
    &_buttons {
        font-family: @mainFontAleo;
        width: 950px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    &_button {
        font-family: @mainFontAleo;
        font-size: 14px;
        color: @mainColorText;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 45px;
    }
    &_button:hover {
        opacity: 0.6;
    }
    &_search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        width: inherit;
        height: 60px;
    }
    &_input {
        font-family: @mainFontAleo;
        color: #a7a7a7;
        text-align: center;
        letter-spacing: 2px;
        height: 45px;
        background-color: transparent;
        border: none;
        outline-width: 0px;
        font-size: 14px;
        width:430px;
    }
    &_searchButton {
        .centerBox-mixin();
        outline-width: 0px;
        font-family: @mainFontAleo;
        font-size: 15px;
        color: #e8ecff;
        cursor: pointer;
        text-decoration: none;
        border: none;
        text-transform: uppercase;
        margin-right: 1px;
        background-color: #5474fd;
        width: 146px;
        height: 55px;
    }

    

    &_searchIcon {
        margin-left: 10px;
    }
    &_subtitle {
        color: @mainColorText;
        font-family: @mainFontAleo;
        letter-spacing: 10px;
        font-weight: lighter;
        font-size: 17px;
        width: inherit;
        text-align: center;
        margin-bottom: 60px;
    }
    &_title {
        font-family: @mainFontJosefinSans;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 35px;
        color: @mainColorText;
        width: inherit;
        text-align: center;
    }
    &_scroll {
        .centerBox-mixin();
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 160px;
        .centerBox-mixin();
        font-family: @mainFontAleo;
        color: @mainColorText;
    }

    &_scroll:hover {
        opacity: 0.6;
    }

    &_arrow {
        margin-top: 10px;
    }
    &_arrow::after {
        border: medium solid transparent;
        content: "";
        top: 100%;
        left: 50%;
        position: absolute;
        height: 0;
        width: 0;
        border-color: white rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
        border-width: 10px;
        margin-left: -10px;
      }
}
//// ---> Header <---

//// ---> Сhoose Us <---
.chooseUs {
    .section-mixin();
    background-image: url(../Assets/palace.jpg);
    background-size: cover;
    background-position: center center; 

    &_content {
        .content-mixin();
        align-items: center;
        min-height: 625px;
    }
    &_infoBox {
        display: flex;
        height: 450px;
        width: inherit;
    }
    &_discription {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: inherit;
        color: @mainColorText;
    }
    &_title {
        margin-top: 80px;
        font-size: 27px;
        font-family: @mainFontAleo;
        color: @mainColorText;
    }

    &_infoText {
        font-family: @mainFontAleo;
        letter-spacing: 2px;
        margin-top: 70px;
    }

    &_explore {
        cursor: pointer;
        outline-width: 0px;
        font-family: @mainFontAleo;
        margin-top: 50px;
        width: 235px;
        height: 60px;
        background-color: #496bfe;
        color: @mainColorText;
        font-size: 17px;
        text-transform: uppercase;
        border: none;
    }
    &_img {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 50%; 
        height: inherit;
    }
    &_riverImg {
        margin-right: 125px;
        margin-bottom: 5px;
    }
}
//// ---> Сhoose Us <---

//// ---> How It Works <---
.howItWorks {
    .section-mixin();
    background-color: @mainBackGroundColor;

    &_content {
        .content-mixin();
        align-items: center;
        min-height: 340px;
    }
    &_infoBox {
        .centerBox-mixin();
        width: 980px;
        height: 180px;
    }
    &_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 33%;
        font-size: 28px;
        font-family: @mainFontAleo;
        color: @mainColorText;
    
    }
    &_img {
        margin-bottom: 15px;
    }

    &_img {
        margin-bottom: 15px;
    }
}
//// ---> How It Works <---

//// ---> section <---
.section {
    .section-mixin();
    background-image: url(../Assets/house.png);
    background-size: cover;
    background-position: center center;
    &_content {
        display: flex;
        justify-content: flex-start;
        width: @mainContentWidth;
        min-height: 625px;
    }
    &_discription {
        display: flex;
        flex-direction: column;
        width: 540px;
        height: 370px;
        margin-top: 170px;
        color: @mainColorText;
        font-family: @mainFontAleo;
        background-color: rgba(40,35,35,0.8);
    }
    &_discription:hover {
        background-color: rgba(40,35,35,1);
    }
    &_title {
        margin-top: 40px;
        font-size: 27px;
        width: 90%;
        margin-left: 33px;
        color: @mainColorText;
    }
    &_infoText {
        width: 470px;
        margin-left: 33px;
        margin-top: 30px;
        letter-spacing: 2px;
    }
    &_BookNow {
        cursor: pointer;
        margin-left: 33px;
        margin-top: 20px;
        width: 235px;
        height: 60px;
        background-color: #496bfe;
        font-family: @mainFontAleo;
        color: @mainColorText;
        font-size: 17px;
        text-transform: uppercase;
        border: none;
        outline-width: 0px;
    }
}
//// ---> section <---

//// ---> section2 <---
.section2 {
    .section-mixin();
    background-image: url(../Assets/ocean.png);
    background-size: cover;
    background-position: center center;
}

.section_content2 {
    display: flex;
    justify-content: flex-end;
    width: @mainContentWidth;
    min-height: 625px;
}

//// ---> section2 <---

//// ---> testimonial <---
.testimonial {
    .section-mixin();
    background-image: url(../Assets/man.jpg);
    background-size: cover;
    background-position: center center;

    &_content {
        .content-mixin();
        flex-direction: column;
        align-items: center;
        min-height: 730px;
    }
    &_title {
        font-family: @mainFontAleo;
        color: @mainColorText;
        font-size: 28px;
        margin-bottom: 100px;
    }
    &_InfoBox {
        display: flex;
        height: 290px;
        width: inherit;
        background-color: @mainBackGroundColor;
    }
    &_img {
        .centerBox-mixin();
       width: 450px;
    }

    &_discription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        margin-left: 50px;
        background-color: #333333;
    }

    &_ownerQuote {
        font-family: @mainFontAleo;
        color: @mainColorText;
        font-size: 22px;
        margin-bottom: 50px;
    }
    &_Quote {
        font-family: @mainFontAleo;
        color: @mainColorText;
        letter-spacing: 2px;
        font-size: 16px;
    }
    &_buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        margin-top: 30px;
        height: 60px;
    }

    &_button {
        cursor: pointer;
        outline-width: 0px;
        .centerBox-mixin();
        color: white;
        border: none;
        background-color: transparent;
        border: 1px solid white;
        height: 50px;
        width: 80px;
    }
    &_back {
        margin-right: 5px;
    }
}
//// ---> testimonial <---


//// ---> footer <---
.footer {
    .section-mixin();
    background-color: @mainBackGroundColor;
    &_content {
        .content-mixin();
        flex-direction: column;
        align-items: center;
        min-height: 270px;
    }
    &_title {
        text-transform: uppercase;
        font-size: 20px;
        font-family: @mainFontAleo;
        color: @mainColorText;
        width: inherit;
        text-align: center;
    }
    &_subtitle {
        font-family: @mainFontJosefinSans;
        color: @mainColorText;
        font-family: @mainFontAleo;
        font-size: 14px;
        width: inherit;
        text-align: center;
        margin-top: 10px;
    }
    &_subtitle {
        color: @mainColorText;
        font-family: @mainFontAleo;
        letter-spacing: 5px;
        font-size: 14px;
        width: inherit;
        text-align: center;
        margin-top: 10px;
    }
    &_social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 170px;
        height: 17px;
        margin-top: 30px;
    }
}
//// ---> footer <---
