
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400; 
 }

.header {
   position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background: url("../img/bg-head.jpg") 50% 50% no-repeat #000;
    background-size: cover; 
    height: 737px;
    &_container {
      max-width: 1170px;
      display: flex;
      flex-direction: column;
    }
     &_menu {
      display: flex;
      margin-top: 50px;
      height: 40px;
     }
     &_logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_buttons {
      display:  flex;
      align-content: center;
      margin-left: 700px;
    }
    &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 82px;
    height: 36px;
    cursor: pointer;
    border: 1px solid transparent; }
    &_button:hover {
      border: 1px solid #fff;
      border-radius: 20px; }
  
      &_link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px; 
  }
}
 

 
 
.title {
   color: #fff;
   text-align: center;
   padding-top: 232px;
   max-width: 605px;
   margin: 0 auto; 

   &_text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 7px;
    line-height: 70px;
    text-transform: uppercase; 
   }
   &_subtext {
    line-height: 28px;
    margin: 10px 0; 
   }

   &_arrow {
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 78px;
    background: url(../img/head-btn.png) no-repeat 50%;
    transition: transform .2s ease-in; 
   }
   &_arrow:hover {
      opacity: 0.8; 
   }
  }
   
 .portfolio {
   background-color: #f1f1f1; 
   &_container {
    margin: 0 auto;
    max-width: 1170px;
  }

  &_filter {
    color: #464646;
    line-height: 12px;
    display: inline-block;
    font-weight: 600;
    padding: 0 13px;
    position: relative;
    cursor: pointer; 
   }

  &_filter:after,
  &_activfilter:after {
  content: '';
  height: 2px;
  width: 38px;
  background-color: #19bd9a;
  position: absolute;
  left: 50%;
  margin-left: -19px;
  margin-top: 25px;
  visibility: hidden; 
 }

 &_filter:hover:after,
 &_activfilter:hover:after {
  visibility: visible; 
 }

 &_activfilter:after {
  visibility: visible; 
 }

 &_works {
  margin-top: 70px; 
 }
 &_worksItem {
    padding: 5px; 
 }
  
}

.team {
  &_container {
    margin: 0 auto;
    max-width: 1030px;
  }
  
  
  &_cards {
     margin: 0 auto;
    }
  
    &_slid {
    display: flex;
    align-items: center;
    justify-content:space-between;
    }
   
    &_name {
    position: relative;
    text-align: right;
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    }
    &_name:after {
      position: absolute;
       content: '';
       height: 42px;
       width: 4px;
       background-color: #19bd9a;
       top: 0;
       right: 0;
       margin-top: 5px; 
      }
   
    &_prof {
     text-align: right; 
     font-family: "Source Sans Pro", sans-serif;
     color: #81868e;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: 1.4px;
     line-height: 25px;
     text-transform: uppercase;
     font-style: italic;
    }
   
    &_text {
    text-align: right;
     max-width: 370px;
     color: #81868e;
     font-size: 14px;
     line-height: 25px;
     margin-top: 20px;
    }
}
 

 
 .contactUs {
   text-align: center;
   padding: 58px 0;
   background: url("../img/bg-contact.jpg") 50% no-repeat #000000;
   background-size: cover; 
  
   &_title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 29px; 
   
   }
   &_btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    text-transform: none;
    border-radius: 20px;
    padding: 5px 20px; 
   }

   &_btn:hover {
      border: 1px solid #19bd9a;
      color: #19bd9a; 
     
 }
  
}
 
 

 .testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1; 

  &_cards--slider {
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  &_img img {
    min-height: 130px;
    min-width: 130px;
    margin-left: 100px;
  }
  
  &_slide {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  &_cards {
      max-width: 1170px;
      height: 320px;;
      display: flex;
      align-items: center;
      background-color: #fff;
      text-align: left; 
      }
    &_descr {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      }
    &_text {
      margin-left: 50px;
      display: flex;
      justify-content: flex-start;
      color: #81868e;
      line-height: 28px; 
      }
    &_name {
      margin-top: 30px;
      margin-left: 50px;
      text-align: left;
       color: #19bd9a;
       font-size: 16px;
       font-weight: 700;
       line-height: 20px;
       text-transform: uppercase;
      }
    &_prof {
       margin-left: 50px;
       color: #464646;
       font-size: 14px;
       font-weight: 400;
       line-height: 20px;
       text-transform: uppercase; 
      }
  }


 .contact {
   height: 690px;;
  }
 
 
 
 .footer {
   padding: 72px 0 69px;
   background-color: #fcfcfc;
   text-align: center; 
   &_text {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
    margin: 24px 0 37px; 
   
   }
   &_social {
    margin: 0 auto;
    display: inline-block;
   }
  }
  
  #map {
    width: 100%;
    height: 439px; 
   }
 
 
 .outer-section {
   text-align: center;
   padding: 89px 0 102px; }
   .outer-section__title {
     font-family: "Source Sans Pro", sans-serif;
     color: #333b46;
     font-size: 20px;
     font-weight: 300;
     letter-spacing: 4px;
     line-height: 12px;
     text-transform: uppercase; }
   .outer-section__text {
     color: #81868e;
     font-size: 14px;
     line-height: 25px;
     max-width: 457px;
     margin: 41px auto 60px; }
 
 